:root {
  --bleu: #135fb7;
  --bleu_clair: #2c96e2;
  --box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

body {
  background: linear-gradient(to top, var(--bleu), var(--bleu_clair));
  background-attachment: fixed;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  padding: 1vw;
  background-color: white;
  color: var(--bleu);
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 0px 10px -2px #ffffff;
  box-shadow: 0px 0px 10px -2px #ffffff;
}

.title {
  font-size: 6em;
  color: var(--bleu);
}

#labelCodePostal {
  color: white;
  display: flex;
  color: var(--bleu);
}

#inputCodePostal {
  border-radius: 0.5vw;
  border: none;
  padding: 0.4vw;
  display: flex;
  text-align: center;
  justify-content: left;
  text-align: center;
  border-style: solid;
  border-width: 0.1em;
  border-color: var(--bleu);
}

.buttonCodePostal {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  color: var(--bleu);
}

.block {
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  gap: 0.5vw;
  background-color: white;
  padding: 2vw;
  border-radius: 1vw;
  color: var(--bleu);
  -webkit-box-shadow: 0px 0px 10px -2px #ffffff;
  box-shadow: 0px 0px 10px -2px #ffffff;
}
