:root {
  --bleu: #135fb7;
  --bleu_clair: #2c96e2;
  --box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

body {
  background: linear-gradient(to top, var(--bleu), white);
  background-attachment: fixed;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  animation: slideIn 1s ease-in-out;
}

header {
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2vw;
}

#logo {
  width: 6vw;
  margin-right: 2vw;
}

#head-bar {
  display: flex;
  color: var(--bleu);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 6em;
  color: var(--bleu);
  margin-left: 2vw;
}

#main {
  display: flex;
  justify-content: center;
  width: auto;
  background-color: white;
  margin: 3vw;
  border-radius: 3vw;
  -webkit-box-shadow: 0px 0px 10px -2px #ffffff;
  box-shadow: 0px 0px 10px -2px #ffffff;
}

#labelCodePostal {
  color: white;
  display: flex;
}
#results {
  color: white;
  display: flex;
}

#inputCodePostal {
  border-radius: 0.5vw;
  border: none;
  padding: 0.4vw;
  display: flex;
  text-align: center;
  justify-content: left;
  text-align: center;
  border-style: solid;
  border-width: 0.1em;
}

.buttonCodePostal {
  font-family: "Fredoka", sans-serif;
  background-color: var(--bleu);
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.block-main {
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 2vw;
  width: 30%;
  gap: 0.5vw;
  background-color: var(--bleu_clair);
  padding: 2vw;
  border-radius: 1vw;
  color: white;
  -webkit-box-shadow: 0px 0px 10px -2px var(--bleu);
  box-shadow: 0px 0px 10px -2px var(--bleu);
}

.weather-table {
  width: 50%;
  border-collapse: collapse;
  margin: 1vw;
  font-size: 1em;
  min-width: 400px;
  overflow-x: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  animation: slideIn 1s ease-in-out;
}

.weather-header {
  background-color: var(--bleu_clair);
  color: white;
  text-align: center;
  padding: 0.5vw;
  border: 1px solid white;
}

.weather-data {
  border: 1px solid var(--bleu_clair);
  padding: 0.5vw;
  text-align: center;
  background-color: white;
  color: var(--bleu);
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .weather-table {
    font-size: 0.8em;
  }

  .weather-header,
  .weather-data {
    padding: 1vw;
  }
}
