:root {
  --bleu: #135fb7;
  --bleu_clair: #2c96e2;
  --box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

body {
  background: linear-gradient(to top, var(--bleu) 0%, rgb(0, 0, 0) 99%);
  background-attachment: fixed;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

nav {
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 2vw;
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
}

#logo {
  width: 6vw;
  margin-right: 2vw;
}

#head-bar {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 5vw;
}

.title {
  color: var(--bleu);
  margin-left: 2vw;
}

#main {
  display: flex;
  justify-content: center;
  width: auto;
  background-color: white;
  margin: 3vw;
  border-radius: 1.5vw;
}

#results {
  color: var(--bleu);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#inputCodePostal {
  border-radius: 2vw;
  min-width: 20%;
  max-width: 50%;
  color: black;
  min-height: 3vw;
  border: none;
  padding: 1vw;
  text-align: left;
  font-size: 3vw;
  margin-right: 1vw;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.7);
}

#inputCodePostal:hover {
  transform: scale(1.05);
  background-color: white;
  -webkit-box-shadow: 0px 0px 200px 10px rgba(1, 51, 251, 1);
  -moz-box-shadow: 0px 0px 200px 10px rgba(1, 51, 251, 1);
  box-shadow: 0px 0px 200px 10px rgba(1, 51, 251, 1);
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6vw;
  animation: morph-in 0.5s ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.city-name-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 6vw;
  margin-left: auto;
  margin-right: auto;
}

.image-weather {
  width: 50%;
  margin: 0 auto;
}

#reset-button,
#check,
#search-button {
  padding: 0.5vw 1vw;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 2vw;
  cursor: pointer;
  transition: 0.5s;
}

#search-button:hover,
#check:hover,
#reset-button:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

.buttonCodePostal {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#forecast {
  width: 70%;
  min-width: 350px;
  min-height: 300px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
  transition: 0.5s;
  animation: slideInX 1s ease-in-out forwards;
}

.fa-down-long {
  color: var(--bleu);
}

.fa-up-long {
  color: red;
}

.city-name {
  font-size: 7vw;
  text-align: center;
}

.weather {
  font-size: 7vw;
  text-align: center;
}

.image-weather {
  width: 50%;
  margin: 0 auto;
}

.rain-prob {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 5vw;
}

.second-line-weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  font-size: 5vw;
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 9vw;
  color: white;
  border-radius: 2vw;
  transition: 0.5s;
}


.temperature_min,
.temperature_max,
.rain-prob-text,
.sun-hours {
  margin: 0 2vw;
}

.fa-up-long,
.fa-down-long {
  margin: 0 0.5vw;
  border-color: white;
  border-width: 2px;
}

.fa-gear {
  justify-items: center;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  margin: 1vw;
}

.rain-prob-text {
  font-size: 5vw;
  text-align: center;
}

.sun-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 5vw;
}

#resultSelect {
  padding: 1vw;
  font-size: 3vw;
  border: none;
  margin: 1vw;
  border-radius: 1.5vw;
  min-width: 20%;
  max-width: 50%;
  min-height: 3vw;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.7);
}

#resultSelect:hover {
  transform: scale(1.05);
  background-color: white;
  -webkit-box-shadow: 0px 0px 200px 10px rgba(1, 51, 251, 1);
  -moz-box-shadow: 0px 0px 200px 10px rgba(1, 51, 251, 1);
  box-shadow: 0px 0px 200px 10px rgba(1, 51, 251, 1);
}

#card-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4vw;
}

@keyframes morph-in {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes morph-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-6vw);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInX {
  0% {
    transform: translateX(-30vw);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  #head-bar {
    font-size: 2.5vw;
  }

  #inputCodePostal,
  #search-button,
  #resultSelect {
    font-size: 1.5vw;
  }

  .block-main {
    width: 40%;
    font-size: 1.5vw;
  }
}

@media (max-width: 992px) {
  #head-bar {
    font-size: 3vw;
  }

  #inputCodePostal,
  #search-button,
  #resultSelect {
    font-size: 2vw;
  }

  .block-main {
    width: 60%;
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  #logo {
    width: 10vw;
    margin-bottom: 1vw;
  }

  #head-bar {
    font-size: 4vw;
  }

  #inputCodePostal,
  #search-button,
  #resultSelect,
  #check,
  #reset-button {
    font-size: 3vw;
  }

  .block-main {
    width: 80%;
    font-size: 2.5vw;
  }
}

@media (max-width: 576px) {
  #head-bar {
    font-size: 5vw;
  }

  #inputCodePostal,
  #search-button,
  #resultSelect,
  #check,
  #reset-button {
    font-size: 4vw;
  }

  .block-main {
    width: 90%;
    font-size: 3vw;
  }
}

@media (max-width: 480px) {
  #head-bar {
    font-size: 6vw;
  }

  #inputCodePostal,
  #search-button,
  #resultSelect,
  #check,
  #reset-button {
    font-size: 5vw;
  }

  .block-main {
    width: 100%;
    font-size: 3vw;
  }

  #forecast_cards {
    flex-direction: column;
    gap: 2vw;
  }

  .card {
    max-width: 90%;
  }

  .card_day,
  .card_weather,
  .temp {
    font-size: 4vw;
  }
}

#forecast_cards {
  margin-top: 4vw;
  display: flex;
  max-width: 100%;
  min-width: 90%;
  flex-direction: row;
  gap: 3vw;
  overflow-x: auto;
  padding: 2vw;
  white-space: nowrap;
  transition: 1s;
}

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5vw;
  text-align: center;
  min-width: 350px;
  min-height: 300px;
  max-height: 600px;
  flex: 1 1 auto;
  scroll-snap-align: center;
  padding: 1vw;
  animation: slideInX 1s ease-in-out forwards;
  transition: 0.5s;
}

.card:hover {
  transform: translate3d(0, -10px, 0);
  background-color: white;
}

.card-image-weather {
  width: 50%;
  margin: 0 auto;
}

.card_day {
  font-size: 4vh;
  font-weight: bold;
}

.card_weather {
  font-size: 5vh;
  white-space: normal;
  word-wrap: break-word;
}

.temp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 5vh;
  font-weight: bold;
}

.car_min {
  color: blue;
}
